.wrapper {
    border: 1px solid rgb(255, 219, 219);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: white;
    width: 360px;
    padding: 20px;
}

.wrapper a img {
    width: 150px;
    display: block;
    margin-left: Auto;
    margin-right: Auto;
}