* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');
@media only screen and(max) {}

body {
    font-family: sans-serif;
    font-family: 'Aleo', serif;
}

.body {
    background-color: #f9f4f4;
}


/* Navbar Css */

.search-bar-back {
    background-color: white;
    height: 60px;
    padding: 4px;
    margin-top: 6px;
}

.search-bar2 {
    margin-top: 8px;
    padding-left: 7px;
    padding-right: 7px;
}

.login-button button {
    width: 100px;
}

.login-button button {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 2px;
}

.login-button button i {
    font-weight: 600;
    margin-left: 5px;
}

.login-button button span {
    margin-left: 5px;
}

.nav-div button {
    height: 35px;
    width: 70px;
    background-color: black;
    border-radius: 5px;
    border: none;
    margin-top: 1px;
}

.nav-div button i {
    color: white;
}

.login-button button {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 2px;
    margin-top: 8px;
    height: 35px;
    width: 100px;
    background-color: white;
}

.login-button button:hover {
    color: white;
    background-color: #4CAF50;
    transition: 0.5s;
}

.login-button button i {
    font-weight: 600;
    margin-left: 5px;
}

.login-button button span {
    margin-left: 5px;
}

.log-in-back {
    background-color: white;
    height: 60px;
    padding: 4px;
    margin-top: 20px;
}

.manue-bar {
    height: 45px;
    background-color: #4CAF50;
}

#rku {
    background-color: white;
}

#rku a {
    color: navy;
}


/*-------------------------------- Navbar Css --------------------------------*/


/*-------------------------------- Manue start --------------------------------*/

.manue-bar-design {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.manue-bar-design a i {
    color: white;
}

.manue-home a {
    margin-top: 10px;
}

.nabar-link {
    display: flex;
    background-color: #B4161B;
    height: 45px;
}

.nabar-link div {
    display: flex;
    width: 100px;
    text-align: center;
    justify-content: center;
}

.nabar-link div:hover {
    background-color: #4CAF50;
    transition: 0.5s;
    height: 45px;
}

.nabar-link div a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px;
}

#dbms {
    width: 100px;
}

.nabar-link div a i {
    margin: 3px;
}

.arrow-button {
    margin-bottom: 80px;
    font-size: 25px;
    font-weight: 700;
    margin-right: 26px;
}

.chat-icon-div {
    margin-bottom: 20px;
    margin-left: 20px;
}

.chat-icon-div-img {
    height: 50px;
    border-radius: 50%;
    margin-top: 100px;
    margin-right: 10px;
}

.wrap {
    padding: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button123 {
    width: 80px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    position: relative;
    background-color: rgb(49, 49, 251);
    border-radius: 70px;
}

.home-page-section h1 {
    font-family: 'Times New Roman', Times, serif;
}

.rku-logo-head img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rku-logo-head p {
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: #4CAF50;
}

.rku-logo-head p span {
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: lightcoral;
}

.rku-logo-head marquee {
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(6, 6, 69);
    margin-top: 0px;
    padding: 0px;
    transition: 0.5s;
}

.rku-logo-head marquee span {
    color: rgb(143, 3, 3);
    font-size: 30px;
}


/*-------------------------------- Latest tutorial start--------------------------------*/

.latest-tutorial-headline i {
    font-size: 30px;
    color: #4CAF50;
}

.latest-tutorial-headline {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.latest-tutorial-headline span {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #e83a59;
    font-weight: 700;
}

.latest-tutorial-div div {
    width: 200px;
    height: 50px;
}

.latest-tutorial-div div img {
    margin-top: 30px;
}

.shadow p {
    color: #4CAF50;
    margin-top: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.text-decoration-p a {
    text-decoration: none !important;
}

#latest-part section {
    display: none;
}

#latest-part section:target {
    display: block;
}

.text-decoration-p a {
    color: black;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.text-decoration-p a div {
    padding-top: 15px;
}

.clicker {
    width: 100px;
    height: 100px;
    background-color: blue;
    outline: none;
    cursor: pointer;
}

.hiddendiv {
    display: none;
    height: 200px;
    background-color: green;
}

.clicker:focus+.hiddendiv {
    display: block;
}

.assignment1 a button {
    font-weight: 700;
}